#del {
    cursor: pointer; 
    color: red
}

#add {
    padding: 0px;
    padding-left: 5px;
    display: flex;
    width: 341px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
